<br>
<div id="bookingjs">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
  <script type="text/javascript">
    window.timekitBookingConfig = {
      name: 'Sea Yeti Charters',
      email: 'seayeticharters@gmail.com',
      apiToken: 'KtuSWLfVtbHEmKa7CwdDnpp5VyG996h5',
      calendar: '3531ce3d-8d69-4da0-b3dd-dfede252d154',
      avatar: 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg',
      timekitFindTime: {
        length: '10 hours'
      }
    }
  </script>
</div>
